extends layout

block content
  div#container 
  script(src='/javascripts/jquery-1.8.3.js');
  script(src='/javascripts/kinetic-v4.7.1.min.js');
  script(src='/javascripts/square.js');
  script(src='/javascripts/polygon.js');
  script(src='/javascripts/triangle.js');
  script(src='/javascripts/circle.js');
  script(src='/javascripts/shape.js');
  script(src='/javascripts/network.js')
  script(src='/javascripts/animation.js');
  script(src='/javascripts/objects.js');
  
