extends layout

block content
  div#container 
  script(src='http://code.jquery.com/jquery-1.10.2.min.js');
  script(src='/javascripts/kinetic-v4.7.1.min.js')
  script(src='/javascripts/network.js')
  script(src='javascripts/square.js');
  script(src='javascripts/polygon.js');
  script(src='javascripts/triangle.js');
  script(src='javascripts/circle.js');
  script(src='javascript/objects.js');
  script(src='/javascripts/animation.js')
